
/*BASIC MARKUP*/
* {
    /border: 1px solid red; /*Use when you need to check spacing*/
    font-family: 'Varela Round', sans-serif;
}

/*collor pallete*/
:root{
	--color1: #4f8aa8;
	--color2: #f3e3b4;
	--color3: #2a4a5a;
	--color4: #5c849a;
	--color5: #545456;
}



/*CARDS*/

.cards-section {
    background-color: var(--color1);
}

.card {
    border-width: 0px;
    border-radius: 0px;
    background-color: var(--color3);
    border-radius: 15px;
    -webkit-box-shadow: 0 10px 20px -6px black;
    -moz-box-shadow: 0 10px 20px -6px black;
    box-shadow: 0 10px 20px -6px black;
    padding-bottom: 10px;
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.custom-card {
    padding: 15px 0px;
}

.card-block h4{
    margin: 0px;
    padding: 5px 5px 0px 5px;
    font-size: 17px;
    line-height: inherit;
}

.card-block h5{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    font-size: 15px;
}

.card-footer {
  background-color: none;
}

.fa-star {
  color: white;
}




/*FOOTER*/

footer{
	background-color: var(--color2);
	color: var(--color5);
}

.about h3{
  padding-top: 50px;
	letter-spacing: 3px;
  font-weight: bolder;
}

.about p {
  padding-bottom: 30px;
}

.person {
    border: 0px;
    opacity: 0.7;
    width: 200px;
    height: 200px;
}
.person:hover {
    box-shadow: 0 0 20px 10px var(--color3);
}

.profile-containers {
  padding-bottom: 50px;
}

.coder-profile {
  padding: 10px 10px 50px 10px;
}

.footer a{
	color: var(--color3);
}

.footer a:hover{
	color: var(--color1);
}
